.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.active-filter{
  background-color: green;
  color: azure;
}
.is-done{
  opacity: 0.3;
}
.error {
  border: 2px solid red;
}
.error-message {
  color: red;
}